.Main {
  	margin: 0;
  	padding: 0;
  	font-family: 'Century Gothic';
}

.Card {
	margin: 2vh; 
	border: 1px solid #b5b5b5;
	width: 50vh;
	display: inline-flex;
}

.CardImg {
	height: 35vh;
	object-fit: cover; 
}


.CardTitle {
	font-family: 'Century Gothic';
	font-size: 3vh;
}

.CardText {
	font-family: 'Century Gothic';
}

.Heading {
	background-color: #D3D3D3; 
	border-radius: 2vh; 
	padding: 3vh;
	text-align: center;	
}

.Image {
	border-radius: 3vh;
	height: 40vh;
	width: 100%;
}

.Row {
	box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.15);
	border-radius: 4vh;
	padding: 5vh;
	border: 1px solid gray;
}
